h3, p, li {
  border-radius: 1px;
  padding: 10px 5px;
  margin:0;
}

li {
  list-style-type: none;
  cursor: pointer;
  width: 300px;
  
}

li, p, h3 {
  border-top: 1px solid gray;
  border-right:1px solid gray;
  border-left:1px solid gray;
}

li:last-child,
p:last-child,
h3:last-child {
  border-bottom: 1px solid gray;
}

.details, .loading {
  width: 300px;
  position: absolute;
  right: 50%;
  top: 16px;
}
